@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Roboto, Arial, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px auto;
}

.container-content {
  width: 100%;
  height: 83vh;
  border-radius: 17px;
  color: white;
  position: relative;
  overflow: hidden;
  background-color: #03094f;
  padding: 12px;
}

.container-content::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, transparent, rgb(255, 0, 170), rgb(119, 0, 225));
  transform-origin: bottom right;
  animation: animate 8s linear infinite;
}

.container-content::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, transparent, rgb(1, 142, 22), rgb(0, 255, 251));
  transform-origin: bottom right;
  animation: animate 8s linear infinite;
  animation-delay: 4s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content {
  position: absolute;
  inset: 3px;
  background-color: #03094f;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 90;
  padding: 18px;
  height: 100%;
}

#search-form {
  display: flex;
  margin: 10px 0;
  padding: 5px;
  flex-direction: column;
}

.input-div {
  width: 100%;
}

#search-input {
  padding: 9px;
  width: 68%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search-button {
  width: 25%;
  padding: 9px;
  background-color: #0a9a03;
  color: white;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.output {
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

.top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 190px;
  margin-bottom: 10px;
  padding: 10px;
}

.name-and-id {
  height: 16px;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-bottom: 3px;
}

.size {
  height: 16px;
  font-size: 0.75rem;
}

.sprite-container {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-container {
  height: 300px;
}

#sprite-container {
  width: 180px;
}

#types {
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
}

.type {
  width: 66px;
  padding: 5px;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 1rem;
  color: #000;
  background-color: #dddee9;
}

td,
th {
  text-align: center;
  padding: 8px;
}

th:nth-child(even),
td:nth-child(even) {
  border-left: 3px solid #197b03;
}

tr {
  border-bottom: 3px solid #0a9a03;
}

.normal {
  background-color: #b7b7aa;
}

.fire {
  background-color: #ff6f52;
}

.water {
  background-color: #42a1ff;
}

.electric {
  background-color: #fecc33;
}

.grass {
  background-color: #78cc55;
}

.ice {
  background-color: #66ccfe;
}

.fighting {
  background-color: #d3887e;
}

.poison {
  background-color: #c68bb7;
}

.ground {
  background-color: #dfba52;
}

.flying {
  background-color: #89f;
}

.psychic {
  background-color: #ff66a3;
}

.bug {
  background-color: #aabb23;
}

.rock {
  background-color: #baaa66;
}

.ghost {
  background-color: #9995d0;
}

.dragon {
  background-color: #b59682;
}

.steel {
  background-color: #abaabb;
}

.fairy {
  background-color: #ed99ed;
}

@media screen and (min-width: 550px) {
  .container {
    width: 450px;
  }

  #search-form,
  .top-container, 
  .bottom-container {
    width: 95%;
  }

  .type {
    width: 75px;
  }
}
